<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="protobuf-net" version="2.0.0.470" />
  <package id="ServiceStack" version="3.0.7" />
  <package id="ServiceStack.Common" version="3.0.9" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.1.1" />
  <package id="ServiceStack.Redis" version="3.0.9" />
  <package id="WebActivator" version="1.4.4" />
</packages>